In [1]:
import pandas as pd
df = pd.read_csv("C:/D/TeloðŸŒ™/python/modulo3/STREAMLIT/Data/Sevilla_airbnb.csv")

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
#import pycaret

In [3]:
from pycaret.regression import *

In [4]:
df.columns

Index(['name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'latitude', 'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews_x', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews_ltm', 'license', 'host_location',
       'host_is_superhost', 'host_listings_count', 'host_total_listings_count',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed',
       'property_type', 'accommodates', 'number_of_reviews_y',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_location',
       'review_scores_value', 'review_scores_checkin',
       'review_scores_communication', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'scrape_id',
       'listing_id'],
      dtype='object')

In [5]:
df_pred = df.copy()
df_pred_new = df_pred[["neighbourhood","accommodates", "property_type", "room_type", "price", "minimum_nights", "host_is_superhost" ]]

In [6]:
setup = setup(df_pred_new, target = "price")

In [7]:
best = compare_models()

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

In [8]:
lightgbm = create_model("lightgbm")

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [9]:
tuned_lightgbm = tune_model(lightgbm)

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [10]:
evaluate_model(tuned_lightgbm)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [11]:
final_ridge_best = finalize_model(tuned_lightgbm)

In [12]:
save_model(tuned_lightgbm, "ml_airbnb_sevilla")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['accommodates', 'minimum_nights'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['neighbourhood', 'property_type',
                                              'room_type', 'host_is_superhost'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('ordinal_encoding',
                  Tra...
                  TransformerWrapper(include=['neighbourhood', 'property_type'],
                                     transformer=TargetEncoder(cols=['neighbourhood',
                                                                     'property_type'],
                                                               handle_missing='return_nan'))),
                 ('trained_model',
                  LGBMRegressor(bagging_fraction=0.6, bagging_freq=1,
                                feature_fraction=1.0, learning_rate=0.3,
                                min_child_samples=21, min_split_gain=0,
                                n_estimators=160, n_jobs=-1, num_leaves=80,
                                random_state=3030, reg_alpha=0.01,
                                reg_lambda=0.005))]),
 'ml_airbnb_sevilla.pkl')

In [20]:
valores_unicos = df['neighbourhood'].unique()
print(valores_unicos)

['San Vicente' 'San Lorenzo' 'Feria' 'Arenal' 'Santa Cruz'
 'LeÃ³n XIII, Los Naranjos' 'Las Avenidas' 'Museo' 'Alfalfa' 'San Bernardo'
 'El Cerro' 'EncarnaciÃ³n, Regina' 'an Roque' 'Triana Casco Antiguo'
 'Macarena 3 Huertas, Macarena 5' 'Triana Este' 'San BartolomÃ©'
 'Triana Oeste' 'San Gil' 'El Porvenir' 'Santa Catalina' 'San JuliÃ¡n'
 'Pino Flores' 'Sector Sur, La Palmera, Reina Mercedes'
 'El TorrejÃ³n, El Cerezo' 'Doctor Barraquer, G. Renfe, PoliclÃ­nico'
 'Santa MarÃ­a de Ordas, San Nicolas' 'Huerta de la Salud' 'Santa Clara'
 'San JosÃ© Obrero' 'La Florida' 'Los Remedios'
 'Palacio Congresos, Urbadiez, Entrepuentes, Jardines del Eden'
 'BegoÃ±a, Santa Catalina' 'Valdezorras' 'La Calzada' 'San Pablo A y B'
 'La Bachillera' 'Pedro Salvador, Las Palmeritas' 'El TardÃ³n, El Carmen'
 'El Plantinar' 'Cruz Roja, Capuchinos' 'Los Pajaros'
 'Cisneo Alto, Santa MarÃ­a de Graccia' 'Arbol Gordo' 'Bellavista'
 'ConsolaciÃ³n' 'Ciudad JardÃ­n' 'NerviÃ³n' 'HeliÃ³polis' 'PolÃ­gono Sur'
 'no asignado' 'La Buhaira' 'Parque Alcosa' 'Huerta del Pilar' 'Tablada'
 'Carretera de Carmona, MarÃ­a Auxiliadora, Fontanal' 'San JerÃ³nimo'
 'Tiro de LÃ­nea, Santa Genoveva' 'La Paz, Las Golondrinas' 'Retiro Obrero'
 'Bda. Pino Montano' 'Barrio LeÃ³n' 'Colores, Entreparques'
 'Huerta de Santa Teresa' 'Bami' 'Giralda Sur' 'Las Huertas'
 'El Cano, Los Bermejales' 'Pio XII' 'San Diego' 'San Pablo C'
 'Hermandades, La Carrasca' 'Los Carteros' 'San Pablo D y E' 'La Corza'
 'PolÃ­gono Norte' 'El Carmen' 'Campos de Soria' 'La Barzola'
 'Santa Aurelia, CantÃ¡brico, AtlÃ¡ntico, La RomerÃ­a'
 'La Palmilla, Doctor MaraÃ±Ã³n' 'Palmete' 'Aeropuerto Viejo'
 'Felipe II, Los Diez Mandamientos' 'Los PrÃ­ncipes, La Fontanilla'
 'El Juncal, HÃ­spalis' 'Villegas' 'Avda. de la Paz' 'El Gordillo'
 'Juan XXIII' 'Amate' 'Prado, Parque MarÃ­a Luisa' 'Bda. de Pineda'
 'Zodiaco' 'San Carlos, Tartessos' 'La Plata' 'Rochelambert' 'La Oliva'
 'Las LetanÃ­as' 'Los arcos' 'El RocÃ­o' 'Tabladilla, La Estrella'
 'Las Naciones, Parque AtlÃ¡ntico, Las Dalias' 'San MatÃ­as']

In [21]:
valores_unicos = df['room_type'].unique()
print(valores_unicos)

['Entire home/apt' 'Private room' 'Hotel room' 'Shared room']

In [22]:

valores_unicos = df['property_type'].unique()
print(valores_unicos)

['Entire rental unit' 'Entire loft' 'Entire condo' 'Entire home'
 'Private room in rental unit' 'Private room in tiny home'
 'Private room in townhouse' 'Entire serviced apartment'
 'Room in serviced apartment' 'Entire chalet' 'Entire villa'
 'Entire townhouse' 'Entire vacation home' 'Private room in home'
 'Private room in bed and breakfast' 'Private room in serviced apartment'
 'Room in hotel' 'Private room in hostel' 'Private room in condo'
 'Entire cottage' 'Entire guesthouse' 'Entire guest suite'
 'Private room in villa' 'Private room in loft' 'Room in aparthotel'
 'Private room' 'Shared room in rental unit' 'Private room in guesthouse'
 'Private room in casa particular' 'Entire place'
 'Private room in earthen home' 'Casa particular' 'Shared room in home'
 'Private room in guest suite' 'Room in bed and breakfast'
 'Room in boutique hotel' 'Tiny home' 'Shared room in hostel'
 'Private room in dome' 'Shared room in bed and breakfast'
 'Shared room in serviced apartment' 'Castle'
 'Shared room in vacation home' 'Shared room in hotel' 'Camper/RV']

In [23]:
super=df['host_is_superhost'].unique()
super

array(['f', 't'], dtype=object)